.App-body {
  background-color: #15172b;
  min-height: 79.8vh;
  display: flow-root;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  margin-top: 50px;
  width: 100%;
}

a {
  color: white;
}

input {
  user-select: auto;
}

.MarketsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10% 60px;
}

.MarketDiv {
  transition: transform .2s;
  border: solid 0.1px #374e62;
  padding: 40px;
  border-radius: 10px;
  width: 21%;
  min-height: 155px;
  margin: 10px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MarketDiv:hover {
  transform: scale(1.05);
  cursor: pointer;
  border: solid 0.1px #496883;
}

.percentageDiv {
  display: flex;
  justify-content: space-evenly;
}

.yes {
  float: left;
  font-size: 22px;
}

.no {
  float: right;
  font-size: 22px;
}

#marketName {
  margin-left: 115px;
}

#date {
  margin-left: 71px;
}

#submit {
  margin-top: 30px;
}

.horizontallyCentered {
  margin: auto;
  line-height: 80.9vh;
}

.market-information {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #303245;
}

#market-heading {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#market-heading p {
  margin: 0;
  font-size: 22px;
}

#market-heading-flex-rows {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#market-heading-flex-rows p {
  font-size: 13px;
  border: 1px solid #303245;
  border-radius: 2px;
  background: #303245;
  margin-right: 10px;
  padding: 10px 20px 10px 20px;
}

.highlighted-value {
  font-weight: bold;
  font-size: 18px;
  margin-left: 2px;
}

.market-main-body-section {
  max-width: 90%;
  margin-left: 5%;
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 40px;
  background-color: #15172b;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #303245;
}

.market-switch-buttons {
  width: 85%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.share-interaction-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.share-interaction-section span {
  width: 100%;
  padding: 40px 0;
  font-size: 40px;
  border-radius: 20px;
  border: 1px solid #22303c;
  background: #22303c;
  border-bottom: 1px solid white;
  color: white;
}

.buy-shares, .sell-shares {
  margin-top: 40px;
  width: 100%;
}

#amount {
  width: 58%;
  position: absolute;
  left: 0;
  margin: 0;
  text-align: right;
  background-color: #303245;
  border-radius: 12px 0 0 12px;
  border: 0;
  font-size: 18px;
  outline: 0;
  padding: 0 20px 0;
}

#liq-amount {
  width: 58%;
  position: absolute;
  left: 0;
  margin: 0;
  text-align: right;
  background-color: #303245;
  border-radius: 12px 0 0 12px;
  border: 0;
  font-size: 18px;
  outline: 0;
  padding: 0 20px 0;
}

#choose-option {
  background: #303245;
  border: solid 0.1px #303245;
  border-left: 1px solid #808097;
  color: white;
  border-radius: 0 10px 10px 0;
  height: 48.3px;
  width: 43%;
  position: absolute;
  right: 0;
  font-size: 16px;
  outline: none;
  -webkit-user-select: none;
  user-select: none;
  margin-left: -1px;
  text-align: center;

  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
}

@-moz-document url-prefix() {
  #choose-option {
    height: 46.3px;
  }
}

#buy-button, #sell-button {
  width: 100%;
  margin: 30px 0 0 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303245;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2c2d3d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(75px);
  -ms-transform: translateX(75px);
  transform: translateX(110px);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.slider:after
{
  content:'YES';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
}

input:checked + .slider:after
{
  content:'NO';
}

#expired-detail-heading {
  color: #808097;
  font-size: 36px;
  font-weight: 600;
  margin-top: 45px;
  margin-bottom: 35px;
}

#resolved-detail-heading {
  color: #808097;
  font-size: 36px;
  font-weight: 600;
  margin-top: 85px;
  margin-bottom: 35px;
}

#submit-outcome {
  margin-top: 35px;
  width: 70%;
}

.market-detail-footer {
  max-width: 90%;
  min-height: 20vh;
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid #303245;
}

.market-detail-footer h4 {
  margin: 40px 30px 20px 70px;
  text-align: left;
}

.market-detail-footer p {
  font-size: 20px;
  text-align: left;
  padding: 0 100px 0 90px;
  margin: 0 0 5vh;
}

.market-footer-props {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.market-footer-props p {
  text-align: center;
  width: 100%;
}

.market-footer-props-detail {
  display: flex;
  flex-direction: column;
}

.PortfolioMarketDiv {
  transition: transform .2s;
  border: solid 0.1px #374e62;
  padding: 0 40px;
  border-radius: 10px;
  width: 90%;
  height: 170px;
  margin: 10px 18px;
}

.PortfolioDisplayMarketButton {
  cursor: pointer;
  position: relative;
  top: -8px;
  background-color: #303245;
  border: 1px solid #303245;
  width: 140px;
  height: 40px;
  border-radius: 2px;
  color: #808097;
  font-size: 15px;
  transition: transform 200ms, color 200ms;
}

.PortfolioDisplayMarketButton:hover {
  color: white;
}

.MarketName {
  text-align: left;
  margin-left: 50px;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.MarketProps {
  padding: 0;
  display: inline-block;
  margin: 0 6%;
  font-size: 25px;
}

.firstProp {
  position: absolute;
  left: 5%;
}

.secondProp {
  position: absolute;
  left: 22%;
}

.thirdProp {
  position: absolute;
  left: 39%;
}

.fourthProp {
  position: absolute;
  left: 56%;
}

.fifthProp {
  position: absolute;
  margin-top: 33px;
  left: 73%;
}

.marketVolProp {
  position: absolute;
  left: 21.5%;
}

.LessVisibleText {
  color: #b3b3b3;
  font-size: 14px;
}

.portfolioMarketsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.PortfolioOverview {
  transition: transform .2s;
  padding: 0 40px;
  border-radius: 10px;
  width: 90%;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
}

.portfolio-props {
  font-size: 25px;
  border: 1px solid #303245;
  border-radius: 2px;
  background: #303245;
  padding: 10px 20px 10px 20px;
  width: 29%;
  height: 75px;
}

.portfolio-less-visible {
  color: #b3b3b3;
  font-size: 16px;
}

.form {
  background-color: #15172b;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 50px;
  width: 45%;
  border: 2px solid #303245;
  margin: 11vh auto 11vh auto;
}

.title {
  color: #808097;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 45px;
}

.subtitle {
  color: #808097;
  margin: 0;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 25px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.inputDate {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #808097;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

input::placeholder {
  color: #808097;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: red;
}

input::-ms-input-placeholder {
  color: red;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(8px);
  transition: transform 200ms;
  width: 169px;
  z-index: 1;
}

.cut-short {
  width: 117px;
}

.cut-title {
  width: 109.5px;
}

.cut-buy {
  padding: 0 10px;
  width: auto !important;
  font-size: 12px;
  color: #808097;
  transition: transform 200ms, color 200ms;
}

.cut-sell {
  padding: 0 10px;
  width: auto !important;
  font-size: 12px;
  color: #808097;
  transition: transform 200ms, color 200ms;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.share-action-placeholder {
  color: #808097;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  transform: translateY(-30px) translateX(10px) scale(0.75);
  top: 20px;
  z-index: 2;
  font-size: 21px;
}

.placeholder {
  color: #808097;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  transform: translateY(-30px) translateX(10px) scale(0.75);
  top: 20px;
  z-index: 2;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder {
  color: white;
}

.input:focus ~ .cut-sell {
  color: white;
}

#submit {
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 10px;
  outline: 0;
  text-align: center;
  background-color: #303245;
  border: 1px solid #303245;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  color: #808097;
  font-size: 15px;
  transition: transform 200ms, color 200ms;
}

#submit:hover {
  color: white;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.share-interaction-form {
  background-color: #15172b;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px 50px;
  width: 100%;
  border: 2px solid #303245;
  margin: auto;
}

.title {
  color: #808097;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 45px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 25px;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(8px);
  transition: transform 200ms;
  width: 169px;
}

.cut-short {
  width: 117px;
}

.cut-title {
  width: 109.5px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #808097;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  transform: translateY(-30px) translateX(10px) scale(0.75);
  top: 20px;
  font-size: 24px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:focus ~ .placeholder {
  color: white;
}

.input:focus ~ .share-action-placeholder {
  color: white;
}