.App-header {
  border-bottom: solid 0.1px #374e62;
  background-color: #15202b;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 3%;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.clickableButton {
  transition: transform .2s;
  border: solid 0.1px #374e62;
  padding: 10px;
  border-radius: 50px;
  width: 10%;
  font-size: 17px;
  background: #253441;
  color: white;
  margin: 10px;
}

.nonClickableButton {
  border: solid 0.1px #374e62;
  padding: 10px;
  border-radius: 50px;
  width: 10%;
  font-size: 18px;
  background: transparent;
  color: white;
  margin: 10px;
}

.clickableButton:hover {
  transition: transform .2s;
  border: solid 0.1px #374e62;
  background: #1c2731;
  color: white;
  cursor: pointer;
}
