.app-header {
  border-bottom: solid 0.1px #374e62;
  background-color: #15172b;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 3%;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.clickable-button {
  text-transform: uppercase;
  border: none;
  padding: 10px;
  font-size: 15px;
  background: transparent;
  color: white;
  margin: 10px;
  border-radius: 2px;
  width: 155px;
  transition: 0.1s;
  text-decoration: none;
}


.non-clickable-button {
  text-transform: uppercase;
  background: #d9dae1;
  transition: transform .2s;
  border: solid 0.1px #303245;
  padding: 10px;
  font-size: 15px;
  color: #15172b;
  margin: 10px;
  border-radius: 2px;
  width: 155px;
  font-weight: bold;
  text-decoration: none;
  cursor: default;
}

.balance-button {
  background: transparent;
  transition: transform .2s;
  border: solid 0.1px #374e62;
  padding: 10px;
  font-size: 17px;
  color: white;
  margin: 10px;
  border-radius: 5px;
  width: 155px;
  position: absolute;
  left: 3%;
}

.clickable-button:hover {
  background: #b4b4b426;
  color: white;
  cursor: pointer;
}
